In [1]:
import sqlite3

#### Creating a table

In [2]:
import sqlite3

conn = sqlite3.connect("users2.db")
conn.text_factory = lambda x: x.decode("utf-8", "ignore")
cursor = conn.cursor()

cursor.execute("""
CREATE TABLE users (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    email TEXT UNIQUE NOT NULL,
    age INTEGER CHECK (age > 0),
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
)
""")

conn.commit()
conn.close()

print("Database and table recreated successfully!")

Database and table recreated successfully!

#### Inserting Data into the Database

In [3]:
def insert_user(name, email, age):
    try:
        conn = sqlite3.connect("users2.db")
        cursor = conn.cursor()

        cursor.execute("INSERT INTO users (name, email, age) VALUES (?, ?, ?)", (name, email, age))   # ? -> prevents Sql injection attacks

        conn.commit()
        print("User inserted successfully!")

    except sqlite3.IntegrityError as e:
        print("error:", e)

    finally:
        conn.close()

insert_user("Sunny", "sunny@gmail.com", 23)

User inserted successfully!

#### Retrieving Data (SELECT Queries)

In [4]:
def fetch_user():
    conn = sqlite3.connect("users2.db")
    cursor = conn.cursor()

    cursor.execute("SELECT * FROM users")
    users = cursor.fetchall() 

    for user in users:
        print(user)

    conn.close()

fetch_user()

(1, 'Sunny', 'sunny@gmail.com', 23, '2025-02-22 11:39:14')

#### Updating a Record

In [5]:
def update_user_age(email, new_age):
    conn = sqlite3.connect("users2.db")
    cursor = conn.cursor()

    cursor.execute("UPDATE users SET age = ? WHERE email = ?", (new_age, email))

    conn.commit()
    print("User updated successfully!")
    conn.close()

update_user_age("sunny@gmail.com", 24)
fetch_user()

User updated successfully!
(1, 'Sunny', 'sunny@gmail.com', 24, '2025-02-22 11:39:14')

#### Deleting a Record

In [9]:
def delete_user(email):
    conn = sqlite3.connect("users2.db")
    cursor = conn.cursor()

    cursor.execute("DELETE FROM users WHERE email = ?", (email,))
    
    conn.commit()
    print("User deleted successfully!")
    conn.close()

delete_user("sunny@gmail.com")

User deleted successfully!

In [10]:
fetch_user()

#### Using Transactions for Safer Database Operations

In [17]:
def transaction_example():
    conn = sqlite3.connect("users3.db")
    cursor = conn.cursor()

    try:
        cursor.execute("BEGIN TRANSACTION")

        cursor.execute("INSERT INTO users (name, email, age) VALUES (?, ?, ?)", 
                       ("Alice", "alice@example.com", 30))
        cursor.execute("INSERT INTO users (name, email, age) VALUES (?, ?, ?)", 
                       ("Bob", "bob@example.com", 28))

        conn.commit()  # Save all changes
        print("Transaction committed successfully!")

    except Exception as e:
        conn.rollback()  # Undo changes if error occurs
        print("Transaction rolled back due to error:", e)

    finally:
        conn.close()

transaction_example()

Transaction rolled back due to error: no such table: users

In [18]:
from sqlalchemy import create_engine, Column, Integer, String
from sqlalchemy.orm  import declarative_base, sessionmaker

In [19]:
Base = declarative_base()

In [20]:
class User(Base):
    __tablename__ = "users3"

    id = Column(Integer, primary_key = True, autoincrement  = True)
    name = Column(String, nullable = False)
    email = Column(String, unique = True, nullable = False)
    age = Column(Integer, nullable=False)


# create database engine
engine = create_engine("sqlite:///users3.db")
Base.metadata.create_all(engine)

print("Database and table created using SQLAlchemy!")

Database and table created using SQLAlchemy!

#### User Management System

In [22]:

def menu():
    print("\nUser Management System")
    print("1. Add User")
    print("2. View Users")
    print("3. Update User Age")
    print("4. Delete User")
    print("5. Exit")

def main():
    while True:
        menu()
        choice = input("Enter choice: ")

        if choice == "1":
            name = input("Enter name: ")
            email = input("Enter email: ")
            age = int(input("Enter age: "))
            insert_user(name, email, age)

        elif choice == "2":
            fetch_user()

        elif choice == "3":
            email = input("Enter user email to update: ")
            new_age = int(input("Enter new age: "))
            update_user_age(email, new_age)

        elif choice == "4":
            email = input("Enter user email to delete: ")
            delete_user(email)

        elif choice == "5":
            print("Exiting program.")
            break

        else:
            print("Invalid choice. Try again.")

main()

User Management System
1. Add User
2. View Users
3. Update User Age
4. Delete User
5. Exit

Enter choice:  1
Enter name:  sunny
Enter email:  sunny.com
Enter age:  23

User inserted successfully!

User Management System
1. Add User
2. View Users
3. Update User Age
4. Delete User
5. Exit

Enter choice:  2

(2, 'sunny', 'sunny@gmail.com', 23, '2025-02-22 11:51:08')
(3, 'sunny', 'sunny.com', 23, '2025-02-22 11:52:00')

User Management System
1. Add User
2. View Users
3. Update User Age
4. Delete User
5. Exit

Enter choice:  4
Enter user email to delete:  sunny.com

User deleted successfully!

User Management System
1. Add User
2. View Users
3. Update User Age
4. Delete User
5. Exit

Enter choice:  2

(2, 'sunny', 'sunny@gmail.com', 23, '2025-02-22 11:51:08')

User Management System
1. Add User
2. View Users
3. Update User Age
4. Delete User
5. Exit

Enter choice:  5

Exiting program.